[Unit]
Description=Spotifyd companion service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/home/pi/spotifyd-mqtt/target/js/index.js
Environment="PORT=9001"
Environment="SPOTIFY_CLIENT_ID=<secret>"
Environment="SPOTIFY_CLIENT_SECRET=<secret>"

[Install]
WantedBy=default.target
